.projects-container {
  text-align: center;
  padding: 25px;
  max-width: 750px;
  margin: auto;
}

.section-title {
  color: #e6dc0f;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.project-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #d4a017;
  transition: transform 0.2s ease-in-out;
}

.custom-btn:hover {
  transform: scale(1.2);
}

.left {
  position: absolute;
  left: -40px;
}

.right {
  position: absolute;
  right: -40px;
}

.project-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover .project-image {
  transform: scale(1.05);
}

.project-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.653);
  color: white;
  width: 100%;
  padding: 30px;
  text-align: left;
}

.project-date {
  font-size: 18px;
  color: #d4a017;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
}

.project-details {
  margin-top: 20px;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.project-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.download-btn {
  background: #d4a017;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.download-btn:hover {
  background: #b3860b;
}

/* Responsive */
@media (max-width: 768px) {
  .custom-btn {
    font-size: 20px;
  }
  
  .left {
    left: -20px;
  }

  .right {
    right: -20px;
  }

  .project-title {
    font-size: 16px;
  }

  .project-description {
    font-size: 14px;
  }
}
